<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--注册名称为unity的section-->
  <configSections>
    <section name="unity"  type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,        
             Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <!--定义类型别名：type第一部分是类的完全限定名，第二部分是程序集名称-->
    <aliases>
      <add alias="IOrderService" type="UnityIocByConfig.IOrderService,UnityIocByConfig"/>
      <add alias="OrderService1" type="UnityIocByConfig.OrderService1,UnityIocByConfig"/>
      <add alias="OrderService2" type="UnityIocByConfig.OrderService2,UnityIocByConfig"/>
    </aliases>
    <containers>
      <container name="MyContainer">
        <!--MyContainer是自定义的容器名称-->
        <!--type为接口的名称，mapTo为注入的对象名称，name是我们要使用的唯一名称-->
        <register type="IOrderService" mapTo="OrderService1" name="OrderService1"/>
        <register type="IOrderService" mapTo="OrderService2" name="OrderService2"/>
      </container> 
  </containers>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>