<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DataPath" value="E:\online_x\CrawlerUser\Crawler\Data\"/><!--数据存储的地方-->
    <add key="QQGroupNumberList" value="304479112;487577065;522836973"/><!--要抓取的qq群号，分号隔开-->
  </appSettings>
</configuration>