<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!--日志路径-->
    <add key="LogPath" value="D:\ruanmou\online8\20170209Advanced8Course6IOSerialize\IOSerialize\IOSerialize\Log\"/>
    <add key="LogMovePath" value="D:\ruanmou\online8\20170209Advanced8Course6IOSerialize\IOSerialize\IOSerialize\LogMove\"/>
    <add key="ImagePath" value="D:\ruanmou\online8\20170209Advanced8Course6IOSerialize\IOSerialize\IOSerialize\Image\"/>
    <add key="VerifyPath" value="D:\ruanmou\online8\20170209Advanced8Course6IOSerialize\IOSerialize\IOSerialize\Image\"/>
    <add key="CurrentDataPath" value="D:\ruanmou\online8\20170209Advanced8Course6IOSerialize\IOSerialize\IOSerialize\File\"/>
    <add key="CurrentXMLPath" value="D:\ruanmou\online8\20170209Advanced8Course6IOSerialize\IOSerialize\IOSerialize\File\"/>
  </appSettings>
</configuration>
