<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSDemoSoap" />
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMathService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6978/Remote/WSDemo.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSDemoSoap"
        contract="advaned8.WS.WSDemoSoap" name="WSDemoSoap" />
      <endpoint address="http://localhost:8245/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="advanced8.WCF.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="net.tcp://localhost:11111/MathService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IMathService" contract="advanced8.Console.TCPIP.IMathService"
        name="NetTcpBinding_IMathService" />
    </client>
  </system.serviceModel>
</configuration>