<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mvc5" connectionString="Data Source=ElevenPC; Database=advanced7; User ID=sa; Password=Passw0rd; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="IndexPath" value="D:\data\advanced8\index\"/>
    <add key="TestIndexPath" value="D:\ruanmou\online8\20170316Advanced8Course22Lucene\Ruanmou.LuceneProject\Ruanmou.LuceneProject\Index\"/>
  </appSettings>
</configuration>