<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="connString" connectionString="Server=.;database=SMDB;uid=sa;pwd=password01!"/>
  </connectionStrings>
  
</configuration>