<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMathService" />
                <binding name="BasicHttpBinding_IMathService1" />
                <binding name="MyWebServiceSoap" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMathService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ISearcher">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10018/Entrance.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMathService" contract="WebWCF.IMathService"
                name="BasicHttpBinding_IMathService" />
            <endpoint address="http://localhost:11112/MathService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMathService1" contract="ClientWCFHttp.IMathService"
                name="BasicHttpBinding_IMathService1" />
            <endpoint address="http://localhost:10008/Remote/MyWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MyWebServiceSoap"
                contract="MyWebService.MyWebServiceSoap" name="MyWebServiceSoap" />
            <endpoint address="net.tcp://localhost:11111/SearchService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISearcher" contract="ClientWCFtcpLuceneSearcher.ISearcher"
                name="NetTcpBinding_ISearcher" />
            <endpoint address="net.tcp://localhost:11111/MathService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMathService" contract="ClientWCFtcp.IMathService"
                name="NetTcpBinding_IMathService" />
        </client>
    </system.serviceModel>
</configuration>