<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DataPath" value="E:\online_x\CrawlerGroup\Crawler\Data\"/><!--数据存储的地方-->
    <add key="Keyword" value=".net;c#;web"/><!--要抓取的关键词，分号隔开-->
  </appSettings>
</configuration>