<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="ESTMContainer" connectionString="metadata=res://*/ESTM.csdl|res://*/ESTM.ssdl|res://*/ESTM.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=111.75.222.134:1521/JXMES;PASSWORD=mes;PERSIST SECURITY INFO=True;USER ID=MES&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceUrl" value="http://127.0.0.1:1234/MyWCF.Server"/>
  </appSettings>
</configuration>