<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--配置解析Spring对象-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <!--配置解析Spring对象的容器集合-->
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <!--Spring.Net节点配置-->
  <spring>
    <context>
      <!--容器配置：配置当前容器对象放置什么位置，当前是在配置文件config中-->
      <resource uri="config://spring/objects"></resource>
    </context>
    <objects xmlns="http://www.springframework.net">
      <!--这里放容器里面的所有节点-->
      <!--name 必须要唯一的，可以自己任意定义，但是建议定义成类名称，方便使用，type=类的全名称，所在的程序集，反射创建对象时这样使用-->

      <object name="OrderService1" type="Spring.Net.OrderService1,Spring.Net" />
      <object name="OrderService2" type="Spring.Net.OrderService2,Spring.Net" />
    </objects>
  </spring>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

</configuration>